/* ========== BASE ========== */
@import "./base/variables.css";
@import "./base/reset.css";
@import "./base/typography.css";

/* ========== LAYOUT ========== */
@import "./layout/navbar.css";
@import "./layout/hero.css";
@import "./layout/services.css";
@import "./layout/why-us.css";
@import "./layout/portfolio.css";
@import "./layout/contact.css";
@import "./layout/footer.css";

/* ========== COMPONENTS ========== */
@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";